body {
    margin: 0;
    background: linear-gradient(to right, #ccccb2, #757519);
    text-align: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.tela-inicial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.foto-profile{
    cursor: pointer;
    width: 100px;
}

h1 {
font-size: 40px;
color: #fff;
text-align: center;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 20px;
    margin: 2px;
}

.divPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s ease-in reverse both running move;
    margin-left: 85px;
}

.divMachine{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s ease-in reverse both running move;
}

.imgPlayer {
    max-width: 80px;
    transform: rotate(45deg);
    cursor: pointer;
}

.imgMachine {
max-width: 80px;
transform: rotate(-45deg);
}

.tela-final{
    margin: 5px;
}

@keyframes move {
    from {transform: translate(-50%,0px)}
    to {transform: translate(-50%,-450px)}
}

.info {
border-radius: 5px;
background-color: #000;
font-size: 25px;
color: #fff;
text-align: center;
margin-top: 20px;
padding: 20px;
}

@media (max-width: 600px){
    section {
        width: 90%;
    }
    .imgPlayer {
        max-width: 50px;
    }
    .imgMachine {
    max-width: 50px;
    }
    .divPlayer{
        margin-left: 50px;
    }
    .info {
        font-size: 20px;
        margin-top: 5px;
        padding: 5px;
        }
}